/* Basic reset */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2d0d0; 
}

.container {
  display: flex;
  width: 50%; 
  height: 90%; 
  background-color: transparent;
  box-sizing: border-box; 
}

.content {
  flex-grow: 1;
  margin: 10px;
  background-color: transparent;
}

.left-sidebar {
  width: 15%; 
  background-color: #333; 
  border-radius: 15px; 
  height: calc(100% - 20px);
  margin-left: 10px;
}

.right-sidebar {
  width: 15%; 
  background-color: #333; 
  border-radius: 15px; 
  height: calc(100% - 20px); 
  margin-right: 10px;
}
